{% if page.header.image %}
    {% assign image = page.header.image %}
{% endif %}

{% if page.header.align %}
    {% assign align = page.header.align %}
{% else %}
    {% assign align = "center" %}
{% endif %}

<header class="uk-background-{{ align }}-center uk-background-cover" style="{% if page.header.background %}background-color: {{ page.header.background }};{% endif %}{% if page.header.image %} background-image: url({% if image contains 'http' %}{{ image }}{% else %}{{ image }}{% endif %});{% endif %}">
    <div class="uk-overlay-header" style="{% if page.header.overlay %}background: {{ page.header.overlay }};{% endif %}">

        {% include navbar.html %}

        <div class="uk-section section-hero uk-position-relative" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true" style="border: 1px solid #FFF; padding-top: 5px; padding-bottom: 25px;">
            <div class="uk-container uk-container-small">
                {% if page.hero.search %}
                <div class="hero-search uk-text-center">
                    <p class="uk-text-lead uk-text-center" style="font-size: 24px; margin-bottom: 10px;">{{ page.hero.subtitle }}</p>

                    <form class="row">
                        <table align="center" style="width: 250px;">
                            <tr>
                                <td style="width: 350px;" align="right">
                                    <input type="text" class="form-control" id="api-search" style="width: 250px" onfocus="search(); return false;">
                                </td>
                                <td style="width: 50px;" align="center">
                                    <input type="text" class="form-control" id="api-limit" style="width: 50px" value="10">
                                </td>                                
                                <td style="width: 50px;">
                                    <button type="submit" class="btn btn-dark" onclick="search(); return false;">Search</button>
                                </td>
                            </tr>
                        </table>
                    </form>

                    <table  class="table table-hover" id="search-results"></table>                    

                    <script>                       
                    function search(){

                        let query = 'api';
                        let prime = 1;
                        if(document.getElementById('api-search').value != ''){                        
                            query = document.getElementById('api-search').value;
                            prime = 0;
                        }

                        let limit = document.getElementById('api-limit').value;
                        if(limit == ''){ limit = 10; }

                        const options = {
                                method: 'get',
                                headers: {
                                    "Accept": "application/json"
                                }
                            };	
                
                        fetch('{{ site.search_url }}?search=' + query + '&limit=' + limit + '&page=0',options)
                            .then(function(response) {
                                if (!response.ok) {
                                    console.log('Error with Status Code: ' + response.status);
                                    return;
                                }
                                response.json().then(function(search) {	
                                  
                                    if(prime == 0){
                                        
                                        let rows = '';
                                        if(search.data.length > 0){
                                            for (let i = 1; i < search.data.length; i++) {
                                                rows += '<tr>';
                                                rows += '<th scope="row"></th>';
                                                rows += '<td style="text-align:left; vertical-align: middle;">' + search.data[i].name + '</td>';
                                                rows += '<td style="width: 50px;"><a href="' + search.data[i].humanURL + '" target="_blank"><button type="button" class="btn btn-outline-primary">API</button></a></td>';
                                                rows += '<td style="width: 50px;"><a href="https://apis.io/' + search.data[i].slug + '" target="_blank"><button type="button" class="btn btn-outline-success">INFO</button></a></td>';
                                                rows += '</tr>';
                                            }
                                            document.getElementById('search-results').innerHTML = rows;
                                        }
                                        else{
                                            document.getElementById('search-results').innerHTML = '<tr><th scope="row"></th><td style="padding: 25px;">No Results</td></tr>';
                                        }
                                        
                                        
                                    }
                                });
                            })
                            .catch(function(err) {
                                console.log('Error: ' + err);
                        });               
                    }

                    </script>

                </div>
                {% endif %}

            </div>
        </div>
        <script>
            function slugify(str) {
            return String(str)
                .normalize('NFKD') // split accented characters into their base characters and diacritical marks
                .replace(/[\u0300-\u036f]/g, '') // remove all the accents, which happen to be all in the \u03xx UNICODE block.
                .trim() // trim leading or trailing whitespace
                .toLowerCase() // convert to lowercase
                .replace(/[^a-z0-9 -]/g, '') // remove non-alphanumeric characters
                .replace(/\s+/g, '-') // replace spaces with hyphens
                .replace(/-+/g, '-'); // remove consecutive hyphens
            }    
        </script>
    </div>
</header>
