<table width="100%">
    <tr>
        <td style="border: 1px solid #FFF; width: 25%; text-align: left;">
            {% if paginator.previous_page %}
                <a style="color:#000;" href="{{ paginator.previous_page_path }}"><strong>&larr; {{ site.data.translation[site.lang].previous | default: "Previous" }}</strong></a>
            {% endif %}
        </td>
        <td style="border: 1px solid #FFF; width: 50%; text-align: center;">
           <strong>Page {{ paginator.page }} of {{ paginator.total_pages }}</strong>
        </td>
        <td style="border: 1px solid #FFF; width: 25%; text-align: right;">
            {% if paginator.next_page %}
                <a style="color:#000;" href="{{ paginator.next_page_path }}"><strong>{{ site.data.translation[site.lang].next | default: "Next" }} &rarr;</strong></a>
            {% endif %}
        </td>
    </tr>
</table>
