
{% assign this_type = property.type | downcase %}
{% if this_type == "documentation" %}
    {% assign type = "Documentation" %}                           
{% elsif this_type == "x-documentation" %}
    {% assign type = "Documentation" %}                  
{% elsif this_type == "postman-collection" %}
    {% assign type = "Postman Collection" %}  
{% elsif this_type == "x-signup" %}
    {% assign type = "Signup" %}
{% elsif this_type == "signup" %}
    {% assign type = "Signup" %}    
{% elsif this_type == "x-blog" %}
    {% assign type = "Blog" %}
{% elsif this_type == "blog" %}
    {% assign type = "Blog" %}    
{% elsif this_type == "x-apicommonsmanifest" %}
    {% assign type = "API Commons" %}                    
{% elsif this_type == "x-blog-rss-feed" %}
    {% assign type = "Blog RSS" %}
{% elsif this_type == "x-github" %}
    {% assign type = "Github" %}
{% elsif this_type == "x-twitter" %}
    {% assign type = "Twitter" %}   
{% elsif this_type == "x-portal" %}
    {% assign type = "Portal" %}
{% elsif this_type == "x-crunchbase" %}
    {% assign type = "Crunchbase" %}  
{% elsif this_type == "x-linkedin" %}
    {% assign type = "Linkedin" %}
{% elsif this_type == "x-pricing" %}
    {% assign type = "Pricing" %}  
{% elsif this_type == "x-sandbox" %}
    {% assign type = "Sandbox" %}                                
{% elsif this_type == "authentication" %}
    {% assign type = "Authentication" %}
{% elsif this_type == "x-authentication" %}                            
    {% assign type = "Authentication" %}
{% elsif this_type == "openapi" %}
    {% assign type = "OpenAPI" %}   
{% elsif this_type == "x-openapi" %}
    {% assign type = "OpenAPI" %}                                                                                   
{% elsif this_type == "swagger" %}
    {% assign type = "Swagger" %}

{% elsif this_type == "x-about" %}
    {% assign type = "About" %}
{% elsif this_type == "about" %}
    {% assign type = "About" %}    
{% elsif this_type == "x-support" %}
    {% assign type = "Support" %}
{% elsif this_type == "support" %}
    {% assign type = "Support" %}    
{% elsif this_type == "x-sdks" %}
    {% assign type = "SDKs" %}
{% elsif this_type == "sdks" %}
    {% assign type = "SDKs" %}    
{% elsif this_type == "x-status" %}
    {% assign type = "Status" %}  
{% elsif this_type == "status" %}
    {% assign type = "Status" %}        
{% elsif this_type == "faq" %}
    {% assign type = "Frequently Asked Questions" %}    
{% elsif this_type == "plans" %}
    {% assign type = "Plans" %}  
{% elsif this_type == "press" %}
    {% assign type = "Press" %} 
{% elsif this_type == "x-change-log" %}
    {% assign type = "Change Log" %} 
{% elsif this_type == "change-log" %}
    {% assign type = "Change Log" %}  
{% elsif this_type == "changelog" %}
    {% assign type = "Change Log" %}        
{% elsif this_type == "x-privacy" %}
    {% assign type = "Privacy" %} 
{% elsif this_type == "privacy" %}
    {% assign type = "Privacy" %}   
{% elsif this_type == "terms of service" %}
    {% assign type = "Terms of Service" %}       
{% elsif this_type == "x-terms-of-service" %}
    {% assign type = "Terms of Service" %} 
{% elsif this_type == "termsofservice" %}
    {% assign type = "Terms of Service" %}     

{% elsif this_type == "api-business-requirements" %}
    {% assign type = "Business Requirements" %} 
{% elsif this_type == "api-security-requirements" %}
    {% assign type = "Security Requriements" %} 
{% elsif this_type == "github-repository" %}
    {% assign type = "GitHub Repository" %} 
{% elsif this_type == "postman-public-workspace" %}
    {% assign type = "Postman Public Workspace" %} 
{% elsif this_type == "consumer-rules" %}
    {% assign type = "Consumer Rules" %} 
{% elsif this_type == "openapi-rules" %}
    {% assign type = "OpenAPI Rules" %} 
{% elsif this_type == "api-getting-started" %}
    {% assign type = "Getting Started" %} 
{% elsif this_type == "api-plans" %}
    {% assign type = "Plans" %} 
{% elsif this_type == "api-authentication" %}
    {% assign type = "Authentication" %} 
{% elsif this_type == "api-road-map" %}
    {% assign type = "Road Map" %} 
{% elsif this_type == "api-change-log" %}
    {% assign type = "Change Log" %} 
{% elsif this_type == "api-sdks" %}
    {% assign type = "SDKs" %} 
{% elsif this_type == "api-uptime-monitor" %}
    {% assign type = "Uptime Monitor" %} 
{% elsif this_type == "api-developer-portal" %}
    {% assign type = "Developer Portal" %} 
{% elsif this_type == "postman-network" %}
    {% assign type = "Postman Network" %} 
{% elsif this_type == "videos" %}
    {% assign type = "Videos" %} 
{% elsif this_type == "issues" %}
    {% assign type = "Issues" %} 
{% elsif this_type == "email" %}
    {% assign type = "Email" %} 
{% elsif this_type == "api-terms-of-service" %}
    {% assign type = "Terms of Service" %} 
{% elsif this_type == "api-license" %}
    {% assign type = "License" %} 
{% elsif this_type == "api-privacy-policy" %}
    {% assign type = "Privacy Policy" %} 
{% else %}    
    {% assign type = this_type %}
{% endif %} 