---
layout: post
published: true
name: Neutrino Phone Verification API
description: >-
  Make an automated call to any valid phone number and playback a unique
  security code. The security code can then be verified on a web form (or other
  input mechanism). Use this API to verify users when they sign up to help
  reduce fraud and ensure accurate information. This API is also useful in
  authentication system (two-factor authentication) for added security on
  important systems.
image: https://www.neutrinoapi.com/img/neutron-logo-small.png
tags:
  - telephony
baseURL: https://neutrinoapi.com/phone-verify
score: 145
percentage: 44
rules: >-
  apis-json-v14-name,apis-json-v14-description,apis-json-v14-image,apis-json-v14-url,apis-json-v14-tags,apis-json-v14-maintainers,apis-json-v14-maintainers-fn,apis-json-v14-maintainers-email,apis-json-v14-apis-name,apis-json-v14-apis-description,apis-json-v14-apis-image,apis-json-v14-apis-humanURL,apis-json-v14-apis-baseURL,apis-json-v14-apis-tags
properties: []
common: []
---