---
layout: default
title: Blog
---

{% assign blog_content = site.data.news_content.index[0] %}
<div class="container">

  <h2>APis.io Blog</h2>
  <p>These are the stories of the APIs we are profiling as part of APIs.io, creating APIs.json for each API, publishing to a repo, and sharing the story of what we've found.</p>
  {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
  {% for post in paginator.posts %}
    {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
    {% if post.title != null %}
      {% if posttime < nowunix %}
        <h3><a href="{{ site.production_url }}{{ post.url }}" style="color: #000;">{{ post.title }}</a></h3>
        <p><i><span class="post-date">{{ post.date | date_to_string }}</span></i></p>
        {{ post.content | strip_html | truncate: 750 }}
        <center>
          <a href="{{ site.production_url }}{{ post.url }}" class="button big">
            <button type="submit" class="btn btn-dark" onclick="search(); return false;">View the Blog Post</button>
          </a>
        </center>
        <center><hr /></center>
        {% endif %}
    {% endif %}
  {% endfor %}
  <br>
  <div class="container text-center" style="width: 75%;">
    {% include partner.html %} 
  </div>
  <br>
  <ul class="pagination" style="text-align: center;">
    <li style="text-align:left;"><a href="/blog/page{{paginator.previous_page}}" class="button disabled"><< Prev</a></li>
    <li style="width: 75%"><span></span></li>
    <li style="text-align:right;"><a href="/blog/page{{paginator.next_page}}" class="button">Next >></a></li>
  </ul>

  <p>{{ blog_content.footer }}</p>
  
</div>  