---
layout: default
---

<div class="uk-section">
    <div class="uk-container uk-container-xsmall">
        <article class="uk-article">

            <h1 class="uk-article-title">{{ page.name | escape }}</h1>

            <div class="article-content" style="color: #000;">

                <img src="{{ page.image }}" width="100" align="left" style="padding: 5px;">
                <span>{{ page.description }}</span>
                <br>
                <h2>Links</h2>
                <ul>
                    <li><a href="{{ page.humanURL }}" target="_blank">Human URL</a></li>
                    <li><a href="{{ page.baseURL }}" target="_blank">Base URL</a></li>
                </ul>

                <h2>Rating</h2>
                <ul>
                    <li>Score: {{ page.score }}</li>
                    <li>Percentage: {{ page.percentage }}</li>
                </ul>        
                
                <h2>Contact</h2>
                {% for contact in page.contact %}
                <ul>
                    <li>Name: {{ contact.FN }}</li>
                    <li>Email: {{ contact.email }}</li>
                </ul> 
                {% endfor %}                    

                <h2>Properties</h2>
                {% for property in page.properties %}

                    {% assign type = '' %}
                    {% if property.type == "documentation" %}
                        {% assign type = "Documentation" %}
                    {% endif %}
                    {% if property.type == "x-documentation" %}
                        {% assign type = "Documentation" %}
                    {% endif %}                    
                    {% if property.type == "postman-collection" %}
                        {% assign type = "Postman Collection" %}
                    {% endif %}    
                    {% if property.type == "X-signup" %}
                        {% assign type = "Signup" %}
                    {% endif %}  
                    {% if property.type == "X-blog" %}
                        {% assign type = "Blog" %}
                    {% endif %}          
                    
                    {% if property.type == "X-apicommonsmanifest" %}
                        {% assign type = "API Commons" %}
                    {% endif %}                       
                    {% if property.type == "X-blog-rss-feed" %}
                        {% assign type = "Blog RSS" %}
                    {% endif %}   
                    {% if property.type == "X-github" %}
                        {% assign type = "Github" %}
                    {% endif %}   
                    {% if property.type == "X-twitter" %}
                        {% assign type = "Twitter" %}
                    {% endif %}   
                    {% if property.type == "X-portal" %}
                        {% assign type = "Portal" %}
                    {% endif %}  
                    {% if property.type == "X-crunchbase" %}
                        {% assign type = "Crunchbase" %}
                    {% endif %}   
                    {% if property.type == "X-linkedin" %}
                        {% assign type = "Linkedin" %}
                    {% endif %}   
                    {% if property.type == "X-pricing" %}
                        {% assign type = "Pricing" %}
                    {% endif %}   
                    {% if property.type == "X-sandbox" %}
                        {% assign type = "Sandbox" %}
                    {% endif %}           
                    {% if property.type == "openapi" %}
                        {% assign type = "OpenAPI" %}
                    {% endif %}                                                         
                    

                    <ul>
                        <li><a href="{{ property.url }}" target="_blank">{{ type }}</a></li>
                    </ul>
                {% endfor %}                   

            </div>

            <hr class="uk-margin-medium">

            {% include paginate-post.html %}
            
        </article>

        <script>
            // Table of contents scroll to
            UIkit.scroll('#markdown-toc a', {
                duration: 400,
                offset: 120
            });
        </script>

    </div>
</div>
